<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- <link rel="stylesheet" href="./static/stylebot.css"> -->
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap">
   <style>
       
        body {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>


    
    <div id="exp" class="healthy-food-section pt-5 pb-5">
        <div class="container">
            <div class="row" >
              
                <div class="des1 col-12 col-md-12" style="width: 100vw;" >
                    <h1 class="healthy-food-section-heading">What Is Breast Cancer? </h1>
                </div>

                <div class="col-12 col-md-12">
                    <div class="text-center">
                        <img src="./static/cancer1.png" class="healthy-food-section-img" style="height: 38vh; width: 30vw; border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);" />
                    </div>
                </div>

                <p class="healthy-food-section-description" style="text-align: justify;">        
                    Breast cancer is a type of cancer that starts in the breast. It can start in one or both breasts.
                    Cancer starts when cells begin to grow out of control.
                    Breast cancer occurs almost entirely in women, but men can get breast cancer, too.
                    Breast cancer is a condition where cells in the breast tissue grow abnormally and uncontrollably. This can form lumps or masses. Early detection is crucial, so be aware of symptoms like lumps, breast changes, or nipple discharge. If you notice anything unusual, see a doctor right away.     
                </p>
            </div>
        </div>
    </div>


<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-12">
                <h1 class="healthy-food-section-heading">
                    Risk Factors for Breast Cancer :
                </h1>               
            </div>

            <div class="col-12 col-md-12">
                <div class="text-center">
                    <img src="./static/cancer2.png" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
            
            <p class="healthy-food-section-description" style="text-align: justify; margin-left: 10vw;">
                <ul style="font-size: 24px; text-align: justify;font-family:Roboto; color: #5a7184; ">
                <li>Age, Family History, Genes: These play a major role. BRCA1/BRCA2 mutations raise risk significantly.</li>
                <li>Hormones & Tissue: Early periods, late menopause, HRT, and dense breasts can influence risk.</li>
                <li>Lifestyle: Obesity, inactivity, and excess alcohol may contribute.</li>
                </ul>
            </p>

            
            
        </div>
    </div>
</div>





<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
           
            <div class="des1 col-12 col-md-12">
                <h1 class="healthy-food-section-heading">
                    Importance of Early Detection :</h1>
            </div>


            <div class="col-12 col-md-12">
                <div class="text-center">
                    <img src="./static/cancer4.jpg" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 45vh;"  class="healthy-food-section-img" />
                </div>
            </div>

            
            <p class="healthy-food-section-description" style="text-align: justify;">
                Early detection is the cornerstone of successful breast cancer treatment. Imagine a fight against a hidden enemy. Early detection is like shining a spotlight on that enemy, revealing its location and size before it grows stronger. This allows doctors to intervene swiftly with the most effective treatment options. By catching breast cancer at its earliest stage, when it's often confined to a small area, the chances of a complete cure soar. This translates to better long-term outcomes and a brighter future for patients. Remember, early detection is your greatest ally in the fight against breast cancer.
                            </p>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-12">
                <h1 class="healthy-food-section-heading">
                    Unveiling the Future: Liquid Neural Network Screening for Breast Cancer Detection :
                </h1>
                     
            </div>
            
            <div class="col-12 col-md-12">
                <div class="text-center" style="justify-content: center; align-items: center;">
                    <img src="./static/cancer3.png" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 45vh;"  class="healthy-food-section-img" />
                </div>
            </div>

            <p class="healthy-food-section-description" style="text-align: justify;">
                This novel approach to breast cancer detection utilizes the power of liquid neural networks. Unlike traditional methods, our liquid neural network mimics the human brain's processing, potentially leading to superior pattern recognition in mammograms. This translates to a more precise analysis, allowing for the identification of even subtle abnormalities. Early detection is crucial, and our liquid neural network aims to shine a light on cancerous cells at their earliest stages. This minimally invasive screening offers the potential for faster diagnosis and improved treatment outcomes, empowering you to take control of your health.
              </p>
       
        </div>
    </div>
</div>



</body>
</html>



